black==22.3.0
certifi==2022.5.18.1
click==8.1.3
colorama==0.4.4
dearpygui==1.6.1
edgedb==0.23.0
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.2
pony==0.7.16
prompt-toolkit==3.0.29
tomli==2.0.1
typing_extensions==4.2.0
wcwidth==0.2.5
