.loginCard {
    background-color: black;
    $color: #0099FF;
    justify-content: center;
    align-items: center;
    @include flexCol();
    @include colItemPos(4);
    //@include showBorder(red);
    gap: 20px;

    height: 100vh;
    color: white;

    .googleAuth {

        background-color: $color;
        @include myPadding(40px, 40px, 10px, 10px);
        border-radius: 15px;
        cursor: pointer;

        @include growOnHover(1.02);

        a {
            color: white;
        }

    }

    a {
        color: $color;
        text-decoration: none;
    }
}